.popup__input {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 13px;
    margin: 30px auto 0;
}

.popup__input:first-child {
    margin-top: 0;
}

@media screen and (max-width: 530px) {
    .popup__input {
    margin-top: 20px;
    font-size: 12px;
    line-height: 15px;
    }
}