.popup__text-about {
    width: 350px;
    height: 27.26px;
    margin-top: 29.74px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 767px) {
    .popup__text-about {
        width: 250px;
        margin: 25px 25px 0;
    }
}