.header {
    min-width: 882px;
    min-height: 56px;
    border-bottom: 1px solid #545454;
    opacity: 0.7;
    margin: 45px auto 0;
}

@media screen and (max-width: 1023px) {
    .header {
        min-width: 582px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        min-width: 320px;
        margin: 28px 1px 0 3px ;
    }
}