.header {
    max-width: 882px;
    min-height: 56px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    margin: 45px auto 0;
}

@media screen and (max-width: 1023px) {
    .header {
        max-width: 582px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 320px;
        margin: 28px 1px 0 3px ;
    }
}