.popup__save-button {
    width: 358px;
    height: 50.15px;
    background-color: black;
    color: white;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 48px 36px 36.51px;
}