.full-image__close-button {
    width: 40.7px;
    height: 40.7px;
    background-image: url(../../../images/close-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: -40.7px;
    top: -40.7px;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    cursor: pointer;
}

.full-image__close-button:hover {
    filter: opacity(0.6);
}

@media screen and (max-width: 399px) {
    .full-image__close-button {
        left: 100%;
    }
}